.gridcontainer
{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.4em;
    row-gap: 0.4em;
    height: 85vh;
}
@media screen and (max-width: 850px) 
{
    .gridcontainer
    {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
    .item
    {
        height: min-content;
    }
}
.elem
{
    position: relative;
}
.item
{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;

}
.tag
{
    background-color: white;
    z-index: 1;
    width: max-content;
    position: absolute;
    bottom: 0px;
}
span.intag
{
    padding-left: 0.4em;
    padding-right: 0.9em;
    padding-bottom: 0.4em;
    font-size: 1.5em;
}
img.intag
{
    width: 0.9em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
}
.overlay
{
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 1.4em;
    display: none;
}
p
{
    font-size: 1.4em;
}